@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    margin: 0%;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin-bottom: 80px;
    background-color: #1f2937;
}

ul {
    display: flex;
    gap: 15px;
}

a:visited {
    color: #e5e7eb;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #3882f6;
}

.one {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #1f2937;
    gap: 40px;
    margin-bottom: 100px;
}

.izq {
    max-width: 450px;
}

.image {
    width: 500px; /* Estan alineadas con header mal, tiene que ser automatico, ahora es solo por tamanio*/
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.link, .image, .hero-second {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
    margin-bottom: 10px;
}

.sign-up {
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 32px;
    margin-top: 8px;
}

.h-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.two {
    background-color: white;
    padding: 50px;
}

.cubito {
    border: solid #3882f6;
    width: 175px;
    height: 175px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.cubos {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 35px;
}

.info-h {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.desc {
    max-width: 175px;
    text-align: center;
}